<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="Directory_path" value="D:\Projects\Training\6_C#\test_folder" />
		<add key="Output_path" value="D:\Projects\Training\6_C#\output_folder\" />
	</appSettings>
</configuration>