<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="smtpHost" value="sandbox.smtp.mailtrap.io" />
		<add key="smtpUserName" value="f263840f672a2b" />
		<add key="smtpPassword" value="b38eb8ae2637a6" />
		<add key="smtpPort" value="587" />
		<add key="smtpFrom" value="mfsi.pradoshs@gmail.com" />
		<add key="smtpTo" value="pradoshsahoo81@gmail.com" />
		<add key="smtpAttachment" value="D:\Projects\Training\6_C#\output_folder\20230720.txt" />
	</appSettings>
</configuration>