@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
    background-color: rgb(245, 245, 245);
    font-family: Poppins;
    font-weight: 300;
    font-size: 16px;
    margin: 0px;
}
.container {
    margin-top: 2%;

}
.form-container {
    width: 40%;
    margin: auto;
    background-color: rgb(255, 255, 255);
    padding: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 10%;
    margin-bottom: 1%;
    border-radius: 6px;
    box-sizing: border-box;
}
.form-heading-element {
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
    text-align:center;
    /* margin-bottom: 10%; */
}
.form-heading-text {
    margin-bottom: 0px;
}

.form-heading-graphic {
    width: 40px;
    height: 4px;
    background-color: rgb(0, 174, 255);
    margin:auto;
    margin-bottom:5%;
}
.submit, .cancel, .delete {
    margin: auto;
    width: 80%;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
input[type="submit"] {
    font-family: Poppins;
    text-align: center;
    background-color: rgb(0, 174, 255);
    padding: 10px;
    border: none;
    border-radius: 6px;
    font-weight: 500;
    color: white;
    margin: auto;
    width: 25%;
}
input[type="text"], input[type="password"] {
    font-family: inherit;
    padding: 8px;
    width: 90%;
    border: 2px solid rgb(110, 110, 110);
    border-radius: 6px;
    font-size: 20px;
}
.input-container {
    width: 80%;
    height: 10vh;
    /* margin-right: 5%; */
    margin: auto;
    margin: 2% auto 3% auto;
    padding: 1%;
    height: 4rem;
}

.input-element {
    width: 100%;
}
#loginErrorLabel{
    display:block;
    color:red;
    text-align:center;
}
span{
    color:red;
}

@media only screen and (max-width: 850px) {
    .form-container {
        width: 80%;
    }
}